<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>Barbearia</title>
</head>
<body>
    
    <nav class="flex justify-between w-full bg-blue-500 p-10">
        <div>
            <ul class="flex gap-4">
                <li>A</li>
                <li>B</li>
                <li>C</li>
            </ul>
        </div>

        <div>
            <h1>Olá</h1>
        </div>

        <div>
            <h1 class="text-5xl text-red-500">
                TESTE
            </h1>
        </div>
    </nav>
</body>
</html>